body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: #333;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
  }
  
  h1, h2, h3 {
	color: #2c3e50;
  }
  
  button {
	cursor: pointer;
	padding: 8px 16px;
	background-color: #3498db;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	transition: background-color 0.3s ease;
  }
  
  button:hover {
	background-color: #2980b9;
  }
  
  input[type="text"] {
	padding: 8px;
	font-size: 14px;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 100%;
	max-width: 300px;
  }
  
  .controlPanel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
  }

  .addTodoSection {
	flex: 3; /* Занимает 3/4 пространства */
	display: flex;
	margin-right: 20px;
  }

  .addTodoInput {
	flex-grow: 1;
	padding: 8px;
	font-size: 14px;
	border: 1px solid #ddd;
	border-radius: 4px 0 0 4px;
	margin-right: -1px;
  }

  .addTodoButton {
	padding: 8px 16px;
	background-color: #3498db;
	color: white;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	font-size: 14px;
  }

  .searchSection {
	flex: 1; /* Занимает 1/4 пространства */
	display: flex;
  }

  .searchInput {
	flex-grow: 1;
	padding: 8px;
	font-size: 14px;
	border: 1px solid #ddd;
	border-radius: 4px 0 0 4px;
	margin-right: -1px;
  }

  .sortButton {
	padding: 8px;
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
  }