
.app {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
  background-color: #f0f4f8;
  font-family: 'Arial', sans-serif;
  }

  .header {
	text-align: center;
	color: #333;
  }

  .searchValue {
	display: flex;
	max-width: 100%;
	margin: 0 auto;
	padding: 10px;
	font-family: Arial, sans-serif;
	background-color: #e7e2e200;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .buttonList {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
  }
  
  button {
	cursor: pointer;
	border-radius: 5px;
  }
  
  button:hover {
	background-color: #218838;
  }
  
  .list {
	list-style-type: none;
	padding: 0;
  }
  
  .listItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	margin: 8px 0;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .listItem button {
	background-color: #d8051a;
  }
  
  .listItem button:hover {
	background-color: #08b62e;
  }
  
  .listItem:nth-child(even) {
	background-color: #f2f2f2;
  }
  

  input[type="text"] {
	width: calc(100% - 22px);
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 16px;
  }

  button {
	padding: 10px 15px;
	margin: 5px;
	border: none;
	border-radius: 2px;
	background-color: #28a745;
	color: white;
	cursor: pointer;
	font-size: 16px;
  }



  button:hover {
	background-color: #218838;
  }


  button.sort-button {
	background-color: #007bff; /* Синий для кнопки сортировки */
  }

  button.sort-button:hover {
	background-color: #0069d9; /* Темнее при наведении */
  }
